<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login/register.css">
    <script src="/js/register.js"></script>
</head>
<body>
<div id="login-form">
    <div class="label-input-box">
        <p class="label medium-text">Username</p>
        <input type="text" class="medium-text">
    </div>
    <div class="label-input-box">
        <p class="label medium-text">Password</p>
        <input type="password" class="medium-text">
    </div>
    <div class="label-input-box">
        <p class="label medium-text">Confirm Password</p>
        <input type="password" class="medium-text">
    </div>


    <input type="submit" class="classic-btn" id="register-submit">
</div>

<p class="para-text">Not have an account?<a href="/register"> Register</a></p>
</body>


</html>